<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/login.css') }}">
    <title>UNACH</title>
</head>
<body>
    <div class ="head">
        <div>
        </div>
        <h1>Universiad Autonoma de chiapas</h1>
        <nav class = "navbar">
        </nav>
    </div>
    <br><br><br>
    <div class="box-container">
        <div class="box">
            <h2>Iniciar Sesion</h2>
            <br><br><br>
            <p>Nombre: <input type="text" class="border" name="clave"/> </p>
            <br><br>
            <p>Password: <input type="text" class="border" name="clave"/> </p>
            <br><br><br>
            <button class="boton">
                <a href = "">INICIAR</a>
            </button>
        </div>
    </div>
</body>
</html>